#presentation {
  overflow: hidden;
}
#presentation h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
    font-weight: bolder;
    position: relative;
    letter-spacing: 2px;
  }
#presentation h2:after{
    content: "";
    position: absolute;
    width: 12%;
    height: 1px;
    bottom: -10px;
    left: 43%;
    border-bottom: 5px solid #333333;
  }

.picture img {
  height: 100px;
  text-align: center;
  background-position: center;
  border-radius: 50px;
  margin-bottom: 10px;
  cursor: pointer;
}
.picture img:hover {
  opacity: 0.5;
}

.title ul {
  margin-top: 30px;
}
.title li a {
      color: #333333;
      text-decoration: underline;
    }
.title li a:hover {
      color: #CF1B1B;
      cursor: pointer;
    }
.title h4 {
  text-align: center;
}

.reseaux {
  list-style: none;
  margin-top: 10px;
  i {
    padding: 0 20px;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  i:hover {
    opacity: 0.5;
    cursor: pointer;
  }
  .fa-linkedin-square {
    color: #0073BB;
  }
}
.description {
  margin-top: 30px;
  margin-bottom: 80px;
}

@media (max-width: 1000px) {
  .description {
    padding: 0px 10px;
  }
}
