#contact {
  width: 100%;
  background-color: #F4F4F4;
  overflow: hidden;
}
.infos p {
    text-align: center;
  }

.infos
  h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
    font-weight: bolder;
    position: relative;
    letter-spacing: 2px;
  }
  .infos h2:after{
    content: "";
    position: absolute;
    width: 4%;
    height: 1px;
    bottom: -10px;
    left: 48%;
    border-bottom: 5px solid #333333;
  }


.contact-form {
  background-color: white;
  border: 1px solid #90A4AE;
  padding: 10px 50px;
  margin: 0px 250px;
  textarea {
    border: 2px solid #e7ecf1;
  }
}
.form-control {
  margin: 20px 0px;
  border: 2px solid #e7ecf1;
}
.bloc-infos {
  text-align: center;
  padding: 30px 0px;
  a {
    color: $red;
  }
}

@media (max-width: 850px) {
  .contact-form {
    margin: 0px 10px;
  }
}
