.home-global-container {
  text-align: center;
  background-size: cover;
  // width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
}
.text {
  font-weight: bold;
  padding-top: 150px;
  color: white;
}
.text h4 {
  padding-top: 25px;
}
.avatar {
  border-radius: 50%;
  height: 100px;
  background-position: cover;
}
.title {
  margin-top: 80px;
  h2 {
    text-align: center;
  }
}
.title ul {
  margin-top: 30px;
}
.title li a {
      color: #333333;
      text-decoration: underline;
    }
.title li a:hover {
      color: #0074E4;
      cursor: pointer;
    }
.title h4 {
  text-align: center;
}
.title .reseaux {
  list-style: none;
  i {
    padding: 0 20px;
    font-size: 40px;
    margin-left: 50px;
  }
  i:hover {
    opacity: 0.5;
    cursor: pointer;
  }
  .fa-linkedin-square {
    color: #0073BB;
  }
}
.description {
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: justify;
}

.skills {
  padding: 0px 70px;
  text-align: center;
  h4{
    font-weight: bold;
  }
  i {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  p {
    margin-bottom: 80px;
  }
}
#competences {
  background-color: white;
  width: 100%;
  h2 {
  margin-top: 80px;
  margin-bottom: 30px;
  text-align: center;
  }
}
.front {
  padding-right: 30px;
}

#contact {
  width: 100%;
  margin-top: 80px;
  background-color: white;
}
.infos h2 {
  text-align: center;
  margin-top: 80px;
}

