<div id="banner" class="banner-container" style="background-image: linear-gradient(-225deg, rgba(200,200,200,0.2) 0%, rgba(220,220,220,0.1) 50%), url(<%= image_path "office.jpg" %>)"">
  <div class="text">
    <h2>Agathe Loubert</h2>
    <h2>DEVELOPPEUSE FREELANCE</h2>
    <h4>Paris, France</h4>
  </div>
    <a href="#presentation"><input type="button" class="btn-access bio" name="access" value="Découvrir"></a>
    <a href="mailto:agathe.loubert@gmail.com"><input type="button" class="btn-access coordonnees" name="access" value="Me contacter"></a>
</div>
