<div id="banner" class="banner-container" style="background-image: linear-gradient(-225deg, rgba(50,50,50,0.3) 0%, rgba(80,80,80,0.3) 50%), url(<%= image_path "office.jpg" %>)"">
  <div class="text">
    <h2>Agathe Loubert</h2>
    <h2>DEVELOPPEUSE FREELANCE</h2>
    <h4>Paris, France</h4>
  </div>
    <a href="#presentation"><input type="button" class="btn-access bio" name="access" value="Découvrir"></a>
    <a href="#contact"><input type="button" class="btn-access coordonnees" name="access" value="Me contacter"></a>
</div>
