<div id="presentation" class="container presentation">
  <div class="row">
    <h2>MON PARCOURS</h2>
    <div class="col-md-5">
      <div class="title">
        <ul>
          <div class="picture" onclick="window.open('https://www.linkedin.com/in/agathe-loubert-81a53350/')"><center><%= image_tag 'photo2.png'  %></center>
          </div>
            <li><b>2017</b> : Formation au <a onclick="window.open('https://www.lewagon.com/fr')">Wagon</a>, coding bootcamp à Paris (Batch 101)</li>
            <!-- <li><b>2007 - 2012</b> : Sciences Po Lyon</li> -->
             <div class="reseaux">
              <center><i class="fa fa-linkedin-square" aria-hidden="true" onclick="window.open('https://www.linkedin.com/in/agathe-loubert-81a53350/')"></i>
                            <i class="fa fa-github" aria-hidden="true" onclick="window.open('https://github.com/AgaLoub')"></i></center>
            </div>
        </ul>
      </div>
    </div>
      <div class="col-md-7">
        <div class=description>
          <p>
            Diplômée en 2012 de Sciences Po Lyon, j'ai travaillé pendant 4 ans chez Business France, en tant que chef de projet sur les secteurs de l'environnement et des énergies renouvelables. <br>Attirée par l'univers start-up, j'ai ensuite rejoint MiiMOSA, plateforme de financement participatif dédiée  l'agriculture et à l'alimentation, en tant que directrice du développement international. <br> <br>
            Souhaitant développer de nouvelles compétences en tech, j'ai décidé en 2017 de suivre la formation de développement web au "Wagon", afin d'élargir mes connaissances. <br> <br>
            Curieuse et passionnée, je suis disponible pour vous accompagner et vous conseiller dans la création et le développement de votre site internet !
          </p>
        </div>
      </div>
  </div>
</div>
