<div id="competences">
  <div class="container-fluid skills competences">
    <div class="row">
      <h2>MES COMPETENCES</h2>
      <div class="col-xs-12 col-sm-6 col-md-4 front">
        <i class="fa fa-file-code-o" aria-hidden="true"></i>
        <h4>FRONT-END</h4>
        <p>HTML, <br>CSS, <br>Bootstrap, <br>Javascript</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <i class="fa fa-cogs" aria-hidden="true"></i>
        <h4>BACK-END</h4>
        <p>Ruby on Rails, <br>SQL, <br>intégration web, <br>site responsive</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <i class="fa fa-code-fork" aria-hidden="true"></i>
        <h4>DEPLOIEMENT & HERBGEMENT</h4>
        <p>Git, <br>Github, <br>Heroku</p>
      </div>
    </div>
  </div>
</div>
