<!-- <div id="contact">
  <div class="container infos">
    <div class="row">
      <h2>CONTACT</h2>
      <div class="col-md-6">
        <ul><i class="fa fa-envelope-o" aria-hidden="true"></i> agathe.loubert@gmail.com</ul>
        <ul></ul>

      </div>
      <div class="col-md-6">

      </div>

    </div>
  </div>


</div>
 -->
