<div id="contact">
  <div class="container-fluid infos">
    <div class="row">
      <h2>CONTACT</h2>
      <p class="intro-contact">Curieuse et passionnée, je suis disponible pour vous accompagner dans la création de votre projet ! <br>
        Si vous êtes intéressés, n'hésitez pas à me contacter afin que nous puissions en discuter. </p>

        <div class="bloc-infos">
          <ul class="list-contact">
            <li><i class="fa fa-linkedin-square" aria-hidden="true" onclick="window.open('https://www.linkedin.com/in/agathe-loubert-81a53350/')"></i> Agathe Loubert</li>
            <li><a href="mailto:agathe.loubert@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> agathe.loubert@gmail.com</a></li>
            <li><i class="fa fa-phone" aria-hidden="true"></i>06.58.95.25.01</li>
          </ul>
        </div>


    </div>
  </div>


</div>

