<div id="projets" class="projets">
  <h2>PROJETS REALISES</h2>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
      </div>

        <div class="col-xs-12 col-sm-4">
          <a onclick="window.open('http://www.fundofyou.fr/')"><div class="card" style="background-image: url(<%= image_path "fundofyou.png" %>)""></div></a>
            <div class="card-description">
              <a onclick="window.open('http://www.fundofyou.fr/')"><h3>www.fundofyou.fr</h3></a>
              <p>Projet réalisé au Wagon <br>(décembre 2017)</p>
            </div>
        </div>


    </div>


  </div>
</div>
