<div id="home" class="home-global-container" style="background-image: linear-gradient(-225deg, rgba(200,200,200,0.2) 0%, rgba(220,220,220,0.1) 50%), url(<%= image_path "office.jpg" %>)"">
  <div class="text">
    <h2>Agathe Loubert</h2>
    <h2>DEVELOPPEUSE FREELANCE</h2>
    <h4>Paris, France</h4>
  </div>
    <a href="#presentation"><input type="button" class="btn-access" name="access" value="Découvrir"></a>
    <a href="#contact"><input type="button" class="btn-access coordonnees" name="access" value="Contact"></a>
</div>


<div id="presentation" class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="title">
        <h2>MON PARCOURS</h2>
        <ul>
          <li><b>2017</b> : Formation au <a onclick="window.open('https://www.lewagon.com/fr')">Wagon</a>, coding bootcamp <br>à Paris (Batch 101)</li>
          <li><b>2007 - 2012</b> : Sciences Po Lyon</li>
        </ul>
        <ul class="reseaux">
          <i class="fa fa-linkedin-square" aria-hidden="true" onclick="window.open('https://www.linkedin.com/in/agathe-loubert-81a53350/')"></i>
          <i class="fa fa-github" aria-hidden="true" onclick="window.open('https://github.com/AgaLoub')"></i>
        </ul>
      </div>
    </div>
      <div class="col-md-7">
        <div class=description>
          <p>
            Diplômée en 2012 de Sciences Po Lyon, j'ai travaillé pendant 4 ans chez Business France, en tant que chef de projet sur les secteurs de l'environnement et des énergies renouvelables. <br>Attirée par l'univers start-up, j'ai ensuite rejoint MiiMOSA, plateforme de financement participatif dédiée  l'agriculture et à l'alimentation, en tant que directrice du développement international. <br>
            Souhaitant développer de nouvelles compétences en tech, j'ai décidé en 2017 de suivre la formation de développement web au "Wagon", afin d'élargir mes connaissances.
          </p>
        </div>
      </div>
  </div>
</div>


<div id="competences" class="container">
  <div class="container-fluid skills">
    <div class="row">
      <h2>MES COMPETENCES</h2>
      <div class="col-xs-12 col-sm-6 col-md-4 front">
        <i class="fa fa-file-code-o" aria-hidden="true"></i>
        <h4>FRONT-END</h4>
        <p>HTML, CSS, Bootstrap, Javascript</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <i class="fa fa-cogs" aria-hidden="true"></i>
        <h4>BACK-END</h4>
        <p>Ruby on Rails, SQL, intégration web, <br>site responsive</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <i class="fa fa-code-fork" aria-hidden="true"></i>
        <h4>DEPLOIEMENT & HERBGEMENT</h4>
        <p>Git, github, Heroku</p>
      </div>
    </div>
  </div>
</div>

<div id="realisation" class="container">
  <div class="container-fluid projets">
    <div class="row">
      <h2>PROJETS REALISES</h2>
    </div>

  </div>
</div>


<div id="contact" class="container">
  <div class="container-fluid infos">
    <div class="row">
      <h2>CONTACT</h2>
    </div>
  </div>


</div>
