<div class="home-global-container" style="background-image: linear-gradient(-225deg, rgba(200,200,200,0.2) 0%, rgba(220,220,220,0.1) 50%), url(<%= image_path "office.jpg" %>)"">
  <div class="text">
    <h2>Agathe Loubert</h2>
    <h2>DEVELOPPEUSE FREELANCE</h2>
    <h4>Paris, France</h4>
  </div>

    <a href="#presentation"><input type="button" class="btn-access" name="access" value="Découvrir"></a>
    <a href="#services"><input type="button" class="btn-access coordonnees" name="access" value="Contact"></a>

</div>

<div id="#presentation" class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="title">
        <h3>Agathe Loubert</h3>
                <ul>
          <li>2017 - Formation au Wagon, coding bootcamp à Paris (Batch 101)</li>
          <li>2007- 2012 - Science Po Lyon</li>
        </ul>

      </div>
    </div>
      <div class="col-md-7">
        <div class=description>
          <p>Diplomée de Science Po Lyon, j'ai travaillé pendant 5 ans dans les domaines de l'environnement, des énergies renouvelables, et de l'agriculture. Souhaitant développer de nouvelles compétences en tech, j'ai suivi une formation au Wagon à Paris (batch 101)</p>
        </div>
      </div>
  </div>

</div>



