.btn-access {
  background-color: #CF1B1B;
  color: white;
  margin-top: 20px;
  padding: 15px 25px;
  font-size: 18px;

&:hover {
  color: #CF1B1B;
  background-color: white;
  border-color: #CF1B1B;
}
}

.coordonnees {
  margin-left: 15px;
  color: #CF1B1B;
  background-color: white;
  border-color: #CF1B1B;

&:hover {
  background-color: #CF1B1B;
  color: white;
  margin-top: 20px;
  padding: 15px 25px;
  font-size: 18px;
}
}
